body {
    background-color: rgb(15, 15, 15);
    color: white;
}

/*Sidebar*/
aside {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    height: 100%;
    align-items: flex-start;
    width: 200px;
    padding: 0;
    transition: all 0.50s;
}

#logo {
    width: 100%;
}

.logo {
    width: 100%;
    min-height: 35px;
    margin-left: -5px;
}

.links button {
    list-style-type: none;
    color: inherit;
    background: transparent;
    border: 0;
    font-family: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.links button>span {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    height: 48px;
    padding: 7px 16px 0 9px;
    border-radius: 24px;
    line-height: 1;
}

.links button>span>span {
    transition: 0.10s;
}

.links button:hover>span {
    background-color: rgba(255, 255, 255, 0.08);
    transition: all 0.2s;
}

.links button i {
    font-size: x-large;
    transition: 0.2s;
}

.links a {
    color: white;
    text-decoration: none;
}

/*Conteudo*/
article {
    display: flex;
    flex-direction: row;
    margin-left: 215px;
    width: 84%;
    height: 100%;
    top: 0;
    transition: all 0.50s;
    background-color: rgb(26, 26, 26);
}

.area-imagem{
    width: 1133px;
    height: 200px; 
    overflow: hidden;
    position: relative;
}
.area-imagem img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}
.perfil{
    position: absolute; 
    width: 120px; 
    height: 120px; 
    border-radius: 50%;
    top: 170px; 
    left: 250px;
    border: 2px black solid
}
h3{
    font-family: "Calistoga", sans-serif;
    position: absolute;
    left: 380px;
    top:185px;
    font-size: 30px;
}
h2{
    position: absolute;
    left: 380px;
    top:230px;
    font-size: 20px;
    color: lightgray;
}
.seguir{
    position: absolute;
    background-color: #ffbb00;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    top: 220px;
    left: 1200px;
    font-weight: bold;
}
.conversar{
    position: absolute;
    background-color: #ffbb00;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    top: 220px;
    left: 1070px;
    font-weight: bold;
}
.F{
    position: absolute;
    top: 207px;
    left: 870px;
    font-weight: bold;
    font-size: 20px;
}
.S{
    position: absolute;
    top: 207px;
    left: 670px;
    font-weight: bold;
    font-size: 20px;
}
.bio{
    position: absolute;
    top: 290px;
    left: 250px;
    font-size: 17px;
}
.Perfil{
    border-bottom: 1px solid #ccc;  
    padding-bottom: 205px;
}

/*ajuste sidebar*/

@media (width < 1020px) {
    aside {
        width: 70px;
    }

    .links button>span>span {
        opacity: 0;
        visibility: hidden;
    }

    .trans {
        border-radius: 5px;
        margin-left: 9px;
    }

    article {
        margin-left: 80px;
    }

    .links button:hover>span {
        background-color: rgba(255, 255, 255, 0);
    }

    .logo {
        width: 100%;
        padding: 10% 0% 20% 0%;
        margin-left: -4px;
    }
}
